body {
    background: #000;
    color: #0ff;
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;
    text-align: center;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav {
    height: 50px;
    width: 100%;
    background: rgb(187, 115, 230);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: fixed;
    z-index: 3;
    top: 110px;
    
}

    a {
        text-decoration: none;
        padding: 10px 25px;
        background: #999;
        border-radius: 75%;
    }

    a:hover {
        background: #ccc;
    }

main {
    height: 2000px;
    width: 100%;
    margin-top: 50px;
}

    .mainBox {
        display: flex;
    }

footer {

}