body {
    background: #000;
    color: #0ff;
    margin: 0 auto;
}

header {
    height: 200px;
    width: 100%;
    text-align: center;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 50px;
}

    h1  {
        padding-top: 75px;
    }

nav {
    height: 50px;
    width: 100%;
    background: rgb(187, 115, 230);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: fixed;
    z-index: 3;
    top: 0px;
    opacity: 0.5;
}

    a {
        text-decoration: none;
        padding: 15px 25px;
        background: #777;
        border-radius: 75%;
        color: #fff;
    }

    a:hover {
        background: #aaa;
    }

main {
    height: 2000px;
    width: 100%;
}


    .mainBox {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0;
        justify-content: space-evenly;
    }

    #aboutMe {
        padding-top: 40px;
    }

    #aboutImage {
        padding: 10px 25px;
    }

    #aboutText {
        max-width: 250px;
        padding: 10px 25px;
    }

    .languageBox {
        display: flex;
        text-align: center;
        width: 33%;
        height: 100px;
        padding-top: 100px;
    }

        .languageBox>img {
            width: 100px;
            height: 100px;
            padding:1px;
            border:1px solid #314a72;
        }

        .languageBox>h2 {
            padding: 10px;
        }

    .educationBox {
        padding: 20px;
    }

    .projectBox {
        border:1px solid #aca438;
    }

        .projectBox>a {
            background: #000;
            border-radius: 100%;
            color: #fff;
            padding: 25px;
        }

    

footer {

}

@media screen and (max-width: 550px) {
    .languageBox {
        display: block;
    }

    #emailForm {
        display: none;
    }

    #mobileContact {
        display: block;
    }
}

@media screen and (min-width: 551px) {
    #emailForm {
        display: block;
    }

    #mobileContact {
        display: none;
    }
}